.login {
  text-align: center;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: rgb(13, 33, 54);
  color: rgb(211, 227, 253);
}

form {
  margin: 20px 0;
}

input {
  padding: 10px;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border: 1px solid #ddd;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: rgb(124, 172, 248);
  color: #000;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  font-size: 66px;
}

h2 {
  font-size: 34px;
}

.userLogin {
  margin-top: 100px;
}

.loginInps {
  display: flex;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  gap: 10px;
}

input {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #fff;
  background: rgb(13, 33, 54);
  padding: 10px;
}